//a(href='/signin')
//a(href='/signin()')
//a(href='/signin()') foo bar
//a(href='http://www.google.de' target="_blank")
//a(test) test
//a(foo-bar foo) baz
//button(type='submit' onclick='document.signin.action="/signup"')
//a(ng-class='{active: !monthly}' ng-click='monthly = false')
//input(placeholder='Google\'s')
.locations-body(
	ng-repeat='location in locations | filter:search | filter:country:true | limitTo: limit'
	ng-class='{"disabled": location.disabled}'
)
//a.foo.bar(href='link' class='baz')
//div
//	button(
//		a='x'
//		b='y'
//	) foo bar
//#id.style