elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar
elm
.elm
#elm
elm.foo
elm.foo.bar
elm.foo#bar
elm#foo.bar