a(href='/foo')
a(href='/foo' target='_blank')
a(href="/foo" target="_blank")
a(click='foo()')
a(click='foo()') asd ) foo bar
a(foo) bar
a(foo-bar foo) baz
button(type='submit' onclick='document.signin.action="/signup"')
a(ng-class='{active: !monthly}' ng-click='monthly = false')
input(placeholder='Google\'s')
a.foo.bar(href='link' class='baz')