<a href="/signin"></a>
<a href="/signin()"></a>
<a href="/signin()">foo bar</a>
<a href="http://www.google.de" target="_blank"></a>
<a test>test</a>
<a foo-bar foo>baz</a>
<button type="submit" onclick="document.signin.action='/signup'"></button>
<a ng-class="{active: !monthly}" ng-click="monthly = false"></a>
<input placeholder="Google's">
<div class="locations-body" ng-repeat="location in locations | filter:search | filter:country:true | limitTo: limit" ng-class="{'disabled': location.disabled}"></div>
<a class="foo bar baz" href="link"></a>
<div><button a="x" b="y">foo bar</button></div>